!!!
%html
  %body
    = render :partial => "shared/masthead"
    .container
      .content
        .col-lg-4
          %h2 Mission
          %hr
          %p Our mission is to to make education more accessible to the Burmese population around the world through Burmese language translated Khan Academy videos. We believe that by providing a means to educate oneself, students in Burma will be able to empower themselves and lead the country to a better and brighter future.
        .col-lg-4
          %h2 Students
          %hr
          %p Our future aspirations is to deliver the Khan Academy videos to the students in Myanmar.  Currently we are in the video translation process, subtitling as many videos as we can through volunteer efforts.  We make all our translations available online for anyone to view, share, or distribute.  If you would like to join our team, please check out the How You Can Help page.
        .col-lg-4
          %h2 Who We Are
          %hr
          %p KABT is an organization made 100% out of volunteers from all over the world.  Here are a few of our volunteers.  We come together via internet and contribute our skills and knowledge to help out with the project.  This may be by translating an algebra video, typing up a handwritten subtitle, adding pictures to our facebook page, or simply spreading the word.

      <br/><br/>
