!!!
%html
  %body
    = render :partial => "shared/masthead"
    .container
      .content
        .col-lg-12.col.md-12.col-sm-12
          %h2 Contact Us
          %hr
          .col-lg-6.col.md-6.col-sm-12
            %p Have any questions regarding how to become a translator for KhanAcademy? Let us know and we'd be glad to answer any questions.
            %p <b>Email:</b> kabt_help@gmail.com
          .col-lg-6.col.md-6.col-sm-12
            %p Problems with the site? Let us know what went wrong and we'll get back to you promptly!
            %p <b>Email:</b> kabt_webmaster@gmail.com

