!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"../../assets/ico/favicon.png"}
    %link{:type=>"text/css", :rel=>"stylesheet", :href=>"assets/bootstrap.css"}

  %body
    .container
      .masthead
        %h3.text-muted Khan Academy Burmese Translation
        %ul.nav.navbar.nav-justified
          %li.active 
            %a{:href=>"/"}Home
          %li
            %a{:href=>"/login_page"}Login
          %li
            %a{:href=>"/about"}About
          %li
            %a{:href=>"/contact"}Contact

      .jumbotron.center
        %h1 Contact Us
        %p.lead Email:


      .footer
        %p Khan Academy Burmese
