!!!
%html
  %body
    = render :partial => "shared/masthead"
    .container
      .content
        .h1.indented Calling all translators!
        %hr.stylish-outer.half-line
        %hr.stylish-inner
        %p.simpletext Here at KhanAcademy we have hundreds of videos viewed every day by students all across the world. Because KhanAcademy is used across the world, we need to make sure our videos are translated properly to ensure everyone can take part in the learning. That's where you come in.
        %p.simpletext Help us translate our educational videos into as many languages as possible! Just sign up below, choose your language, and join an amazing community of translators! We wouldn't be where we are now without your help!
        .sign_button
          %a.col-xs-12.col-sm-12.col-md-12{:href=>"/login_page"}Sign in/Sign up
