<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <link href="assets/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <h3 class="text-muted">Khan Academy Burmese Translation Dashboard Login</h3>
        <ul class="nav navbar nav-justified">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <div class="area">
                        <form class="form-horizontal" action="login" method="post">
                            <div class="heading">
                                <h4 class="form-heading">Sign In</h4>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for=
                                "inputUsername">Username</label>

                                <div class="controls">
                                    <input id="inputUsername" type="text" name="email">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for=
                                "loginPassword">Password</label>

                                <div class="controls">
                                    <input id="loginPassword" placeholder=
                                    "Min. 6 Characters" type="password" name="password">
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox"><input type="checkbox">
                                    Keep me signed in <a class="btn btn-link"
                                    href="#">Forgot my password</a></label>
                                    <button class="btn btn-success" type=
                                    "submit">Sign In</button> <button class="btn"
                                    type="button">Help</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="span6">
                    <div class="area">
                        <form action="users" method="post" class="form-horizontal" >
                            <div class="heading">
                                <h4 class="form-heading">Sign Up</h4>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputFirst">First
                                Name</label>

                                <div class="controls">
                                    <input id="inputFirst" name="firstName" type="text">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputLast">Last
                                Name</label>

                                <div class="controls">
                                    <input id="inputLast" name="lastName"
                                    type="text">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for=
                                "inputEmail">Email</label>

                                <div class="controls">
                                    <input id="inputEmail" name="email" type="text">
                                </div>
                            </div>

<!--                            <div class="control-group">
                                <label class="control-label" for=
                                "inputUser">Username</label>

                                <div class="controls">
                                    <input id="inputUser" type="text">
                                </div>
                            </div>-->

                            <div class="control-group">
                                <label class="control-label" for=
                                "createPassword">Password</label>

                                <div class="controls">
                                    <input id="createPassword" name="password" placeholder=
                                    "Min. 6 Characters" type="password">
                                    <input id="inputPassword" name="password" placeholder=
                                    "Min. 6 Characters" type="password">
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox"><input type="checkbox">
                                    I agree all your <a href="#">Terms of
                                    Services</a></label> <button class=
                                    "btn btn-success" type="submit">Sign
                                    Up</button> <button class="btn" type=
                                    "button">Help</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <!-- Site footer -->
      <div class="footer">
        <p>Khan Academy Burmese</p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
