<p>Hi <%= @account.name %>,</p>

<p>This is a friendly reminder that there are videos assigned to you which have not been completed. Please complete these videos before the given due dates. They will be unassigned from you once the due date has passed.</p>

<p>Thanks!</p>
<p>The Khan Academy team</p>