.container
  .masthead
    %a.title{:href=>"/"}
      %div
        %p <b>Khan</b>Academy Translations
    %nav
      %ul
        %li.welcome
          Welcome, <span class="welcome-name">#{@user.name}</span>!
        %li.logout
          =link_to("Logout", "/logout", :method => :delete, :confirm => "Are you sure?")
