.container
  .masthead
    %a.title{:href=>show_dashboard_path(current_user)}
      %div
        %p <b>Khan</b>Academy Translations
    %nav
      %ul
        %li.welcome
          Welcome, <span class="welcome-name">#{current_user.name}</span>!
        %li.logout{ :class => 'pull-right' }
          =link_to("Logout", "/logout", :method => :delete) #, :confirm => "Are you sure?")
        %li.profile
          =link_to("Profile", user_path(current_user))
        %li.dashboard
          =link_to "Dashboard", show_dashboard_path(current_user)
        - if current_user.admin?
          %li.all-users
            = link_to 'All users', users_index_path
