.container
	.masthead
		%a.title{:href=>"/"}
			%div
				%img{:src=>'/assets/leaf-green.png'} <span><b>Khan</b>Academy Translations</span>
		%nav
			%ul
				%li
					%a{:href=>"/"}Home
				%li
					%a{:href=>"/about"}About
				%li
					%a{:href=>"/contact"}Contact
				%li
					%a{:href=>"/login_page"}Login