.container
	.masthead
		%div
			%a.title{:href=>"/"} <b>Khan</b>Academy Translations
		%nav
			%ul.main-nav
				%li
					%a{:href=>"/"}Home
				%li
					%a{:href=>"/about"}About
				%li
					%a{:href=>"/contact"}Contact
				%li
					%a{:href=>"/login_page"}Login