.container
	.masthead
		%a.title{:href=>"/"}
			%div
				%p <b>Khan</b>Academy Translations
		%nav
			%ul
				%li
					%a{:href=>"/"}Home
				%li
					%a{:href=>"/about"}About
				%li
					%a{:href=>"/contact"}Contact
				%li
					%a{:href=>"/login_page"}Login