// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
  width: 100%;
}
ul {
  margin: 0px;
}
.simpletext {
  font-size: 18px;
  text-shadow: 1px 1px 1px #d1d1d1;
  color: #000;
  clear: left;
}
hr {
  border-color: #2c3747;
}
hr.login-fitted-hr {
  border-width: 1px;
  width: 100%;
}
hr.half-line {
  width: 50%;
}
hr.stylish-outer {
  border-width: 3px;
  margin-bottom: 0px;
}
hr.stylish-inner {
  border-width: 1px;
  width: 15%;
  margin-top: 0px;
}

.sign_button {
  margin: 50px auto 25px;
  width: 50%;
  text-align: center;
  height: 50px;
  border-radius: 3px;
  background-color: #2c3747;
  box-shadow: 1px 1px 1px #222;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s all;
  &:hover {
    background-color: #1d2530;
    box-shadow: 1px 1px 3px #222;
  }
  &:active {
    background-color: #1d2530;
    box-shadow: 1px 1px 1px #222;
    border: 1px solid #555;
  }
  a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    padding: 9px;
  }
}

.content {
  width: 100%;
  padding: 30px;
  display: inline-block;
  background-color: #d1d1d1;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -o-border--bottom-right-radius: 3px;
  -o-border--bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
}
.no-margin {
  margin: 0;
}
.indented {
  font-family: 'Open Sans', sans-serif;
  text-shadow: -1px 0 0 rgba(255,255,255,0.7);
}

.container {
  .masthead {
    div {
      text-align: center;
      margin: 25px 0;
      a {
        display: block;
        font-size: 50px;
        margin: 0px;
        font-weight: normal;
        letter-spacing: -2px;
        color: #000;
        text-decoration: none;
      }
    }
    nav {
      height: 40px;
      width: 100%;
      margin: auto;
      .main-nav {
        text-align: center;
        margin: 0px;
        font-size: 20px;
        background-color: #2c3747;
        list-style: none;
        width: 100%;
        height: 100%;
        .welcome {
          margin: 0;
          padding: 10px;
          border-right: 3px solid rgba(85, 106, 138, 0.8);
          &:hover {
            background-color: #2c3747;
          }
        }
        li {
          float: left;
          height: 100%;
          &:hover {
            background-color: #0d1116;
            transition: 0.3s all;
          }
        }
        li > a {
            border-bottom: 0px solid #fff;
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 10px 15px;
        }
      }
      .admin-dropdown {
        height: auto;
        width: auto;
        font-size: 15px;
        background-color: #2c3747;
        li {
          width: 100%;
          text-align: left;
          a {
            color: #fff;
            &:hover {
              background-image: none;
              background-color: #0d1116;
            }
          }
        }
      }
    }
  }
}
.white-caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}

.form-sign {
  max-width: 330px;
  padding: 15px;
  margin: auto;
  input {
    margin: 2px 0;
    border: 1px solid #999;
  }
  .checkbox {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0 0 18px 0;
  }
  input[type="text"] {
    border-radius: 0px;
  }
  input[type="text"].top {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  input[type="password"].bottom {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    margin-bottom: 18px;
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }
}

.custom-btn {
  width: 100%;
  color: #fff;
  text-align: center;
  height: 50px;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #2c3747;
  box-shadow: 1px 1px 1px #222;
  font-size: 20px;
  transition: 0.3s all;
  &:hover {
    background-color: #1d2530;
    box-shadow: 1px 1px 3px #222;
  }
  &:active {
    background-color: #1d2530;
    box-shadow: 1px 1px 1px #222;
    border: 1px solid #555;
  }
}

.custom-btn2 {
  display: block;
  transition: 0.3s all;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  background-color: #2c3747;
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 1px 1px 1px #d1d1d1;
  &:hover {
    text-decoration: none;
    color: #2c3747;
    background-color: rgba(82, 243, 82, 0.4);
  }
  &:active, &:focus {
    background-color: rgba(82, 243, 82, 1);
    box-shadow: 1px 1px 3px #999;
  }
}
custom-btn2-sized {
  text-align: center;
  width: 25%;
  margin: auto;
}

.third-party-login {
  width: 48%;
  margin-top: 15px;
  img {
    width: 100%;
  }
}

#google-button {
  float: left;
  padding-right: 2%;
}
#facebook-button {
  float: right;
}

#import_videos_form {
    background-color: #1d2530;
    box-shadow: 1px 1px 1px #222;
    border: 1px solid #555;
    display:none;
}