$grayLighter: #eee;

.table-container {
  margin: 15px 100px;
}
.course {
  font-weight: bold;
}

.title {
  font-weight: normal;
}

.left {
  text-align: left !important;
}

td, th {
  text-align: center !important;
}

.table-title {
  margin-bottom: 15px;
  font-size: 25px;
}

.users {
  list-style: none;
  margin: 0;
  li {
  	margin: 0px 50px;
    overflow: auto;
    padding: 10px 8px;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

div.profile {
  text-align: center;
}

ul.profile_actions {
  li {
    display: inline-block;
    margin: 10px;
  }
}