.table-container {
  margin: 15px 100px;
}
.course {
  font-weight: bold;
}

.title {
  font-weight: normal;
}

.left {
  text-align: left !important;
}

td, th {
  text-align: center !important;
}

.table-title {
  margin-bottom: 15px;
  font-size: 25px;
}
