$grayLighter: #eee;

.table-container {
  margin: 15px 100px;
}
.course {
  font-weight: bold;
}

.title {
  font-weight: normal;
}

.left {
  text-align: left !important;
}

td, th {
  text-align: center !important;
}

.table-title {
  margin-bottom: 15px;
  font-size: 25px;
}

.users {
  list-style: none;
  margin: 0;
  li {
  	margin: 0px 50px;
    overflow: auto;
    padding: 10px 8px;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
.profile {
  input[type="text"] {
    width: 40%;
    float: left;
  }
  label {
    display: block;
  }
}
ul.profile_actions {
  padding-top: 20px;
  li {
    display: inline-block;
    .small-custom-btn {
      vertical-align: inherit;
      color: #fff;
      text-align: center;
      border: none;
      border-radius: 3px;
      background-color: #2c3747;
      box-shadow: 1px 1px 1px #222;
      font-size: 15px;
      transition: 0.3s all;
      &:hover {
        background-color: #1d2530;
        box-shadow: 1px 1px 3px #222;
      }
      &:active, &:focus {
        background-color: #1d2530;
        box-shadow: 1px 1px 3px #222;
      }
    }
    a.small-custom-btn {
      text-decoration: none;
      display: block;
      padding: 1px 6px;
      vertical-align: middle !important;
    }
  }
}
