// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
	font-family: 'Open Sans', sans-serif !important;
	.list-title {
		text-shadow: -1px 0 0 #e0e0e0;
		font-family: inherit;
	}
}

h4 {
	span.green {
		color: green;
	}
}

h4.status-header {
	margin: 25px 0;
}
ul.video-nav {
	max-width: 910px;
}
ul.fixed-video-nav {
	width: 100%;
	transition: 0.3s all;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
	position: fixed;
	overflow-x: hidden;
	top: 0;
}
ul.video-nav, ul.fixed-video-nav {
	list-style: none;
	height: 80px;
	overflow-y: hidden;
	background-color: rgba(85,106,138,0.8);
	margin: auto;
	li {
		float: left;
		width: 20%;
		text-align: center;
		a {
			transition: 0.3s all;
			-moz-transition: 0.3s all;
			-o-transition: 0.3s all;
			text-decoration: italic;
			display: block;
			text-shadow: -1px 0 0 rgba(0,0,0,0.6);
			width: 100%;
			padding: 20px;
			text-decoration: none;
			color: #fff;
			font-size: 20px;
			.counter {
				font-weight: bold;
				line-height: 25px;
			}
			&:hover {
				background-color: #2c3747;
			}
		}
	}
}

table {
	font-family: 'Open Sans', sans-serif;
	tbody {
		background-color: #fff;
		.kabt_id {
			width: 15%;
		}
		.kabt_course {
			width: 20%;
		}
		.kabt_title {
			width: 30%;
		}
		.kabt_actions {
			width: 20%;
		}
		tr {
			th {
				background-color: rgba(82,243,82,0.4);
			}
			td > div {
				width: 70%;
				margin: auto;
			}
		}
	}
}

.assign_other_btn {
	display: inline-block;
	transition: 0.3s all;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	background-color: #2c3747;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 1px 1px 1px #d1d1d1;
	&:hover {
		text-decoration: none;
		color: #2c3747;
		background-color: rgba(82, 243, 82, 0.4);
	}
	&:active, &:focus {
		background-color: rgba(82, 243, 82, 1);
		box-shadow: 1px 1px 3px #999;
	}
}
.welcome {
	float: left;
	color: #fff;
	margin: 0 15px;
	.welcome-name {
		text-decoration: underline;
	}
}

.logout {
	float: right;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.form-group {
	label {
		display: block;
		width: auto;
	}
	input[type="text"] {
		height: 35px;
		width: 35%;
	}
	input[type="submit"] {
		display: block;
		width: 15%;
		font-size: 15px;
	}
}

form {
	input#videos {
		color: #fff;
	}
}