// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	overflow-x: hidden;
}
.kabt_id {
	width: 15%;
}

.crs_ttl {
	width: 65%;
}

tr:hover td {
	background-color: #fff;
}

.welcome {
	float: left;
	color: #fff;
	margin: 0 15px;
	.welcome-name {
		text-decoration: underline;
	}
}