// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	overflow-x: hidden;
}
.kabt_id {
	width: 15%;
}

.crs_ttl {
	width: 65%;
}

tr:hover td {
	background-color: #fff;
}

.welcome {
	float: left;
	color: #fff;
	margin: 0 15px;
	.welcome-name {
		text-decoration: underline;
	}
}

.logout {
	float: right;
}

#list_table
{
position: relative;
margin-left:120px;
bottom: 5px;
right: 25px;
}


.icon
{
font-size: x-large;
}

tr
{
padding:15px;
}








.avail_button{
top: 175px;

position: fixed;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

font-weight:bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
left: 10px;
font-size: 12pt;
background-color: #47a447;
width: 155px;
height: 75px;
line-height: 75px;
text-align: center;

dislay: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-border-radius: 4px;
}

.trans_button{
top: 250px;

position: fixed;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

font-weight:bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
left: 10px;
font-size: 12pt;
background-color: #47a447;
width: 155px;
height: 75px;
line-height: 75px;
text-align: center;

dislay: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-border-radius: 4px;
}

.digi_button{
top: 325px;

position: fixed;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

font-weight:bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
left: 10px;
font-size: 12pt;
background-color: #47a447;
width: 155px;
height: 75px;
line-height: 75px;
text-align: center;

dislay: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-border-radius: 4px;
}

.qa_button{
top: 400px;

position: fixed;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

font-weight:bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
left: 10px;
font-size: 12pt;
background-color: #47a447;
width: 155px;
height: 75px;
line-height: 75px;
text-align: center;

dislay: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-border-radius: 4px;
}
.compl_button{
top: 475px;

position: fixed;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

font-weight:bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
left: 10px;
font-size: 12pt;
background-color: #47a447;
width: 155px;
height: 75px;
line-height: 75px;
text-align: center;

dislay: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.5) inset;
-webkit-border-radius: 4px;

}



.button:hover{

background-color:#006400;

}



#welcome
{

color: White;


}

.a_link{
display: block;
color: white;
}

.a_link:visited {
color: white;
}

.list_title{
position:relative;
left: 300px;
}


